.p1{
font-size: 20px;
margin-left: 664px;
margin-top: 500px;


}
.p2{
margin-left: 664px;
color: black;

}
body{

    background-color:gainsboro;
}

.div1{

margin-left: 650px;
margin-top: -380px;
background-color: white;
width: 270px;
height: 370px;

}
img{
    margin-left: 14px;
    margin-top:7px ;
}
